.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}

.expenses h1 {
    font-size: 2rem;
    flex: 1;
    margin: 0 1rem;
    text-align: center;
    color: whitesmoke;
}